---
import BaseHead from '../layouts/BaseHead.astro';
import Header from '../layouts/Header.astro';
import Footer from '../layouts/Footer.astro';
import BlogPostPreview from '../components/BlogPostPreview.astro';

let title = "Hey, I'm Steve Nguy!";
let description = 'I work at LINE as a Front-End Engineer';

// Use Astro.glob to fetch all post with associated frontmatter
const unsortedPosts = await Astro.glob('./posts/*.md');
const posts = unsortedPosts.sort(function (a, b) {
	return (
		new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf()
	);
});
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
		<Header />
		<div class="wrapper">
			<main class="content">
				<section class="intro">
					<h1 class="title" >{title}</h1>
					<p>I work at <a class="line" href="https://line.me/en/">LINE</a> as a Front-End Engineer</p>
				</section>
				<section aria-label="Blog post list">
					{posts.map(({ url, frontmatter }) => (
						<BlogPostPreview
							title={frontmatter.title}
							description={frontmatter.description}
							publishDate={frontmatter.publishDate}
							url={url}
						/>
					))}
				</section>
			</main>
		</div>
		<Footer />
	</body>
</html>

<style>
	.title {
		background: linear-gradient(45deg,var(--theme-accent) 11%,#3894ff 90%);
		background-clip: text;
		-webkit-background-clip: text;
		-moz-background-clip: text;
		-moz-text-fill-color: transparent;
		-webkit-text-fill-color: transparent;
	}

	.line {
		color: var(--theme-accent);
		-webkit-text-fill-color: inherit;
	}
	.content {
		margin-top: 4rem;
		margin-bottom: 8rem;
	}

	.intro {
		padding-bottom: 4rem;
		margin-bottom: 2rem;
		border-bottom: 4px solid var(--theme-divider);
	}

	h1 {
		font-size: 2.5rem;
		font-weight: 700;
	}
</style>
