---
import BaseHead from '../layouts/BaseHead.astro';
import Header from '../layouts/Header.astro';
import Footer from '../layouts/Footer.astro';
import BlogPostPreview from '../components/BlogPostPreview.astro';

let title = "Steve Nguy!";
let description = 'I work at LINE as a Front-End Engineer';

// Use Astro.glob to fetch all post with associated frontmatter
const unsortedPosts = await Astro.glob('./posts/*.md');
const posts = unsortedPosts.sort(function (a, b) {
	return (
		new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf()
	);
});

const unsortedPodcasts = await Astro.glob('./podcasts/*.md');
const podcasts = unsortedPodcasts.sort(function (a, b) {
	return (
		new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf()
	);
});
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
		<Header />
		<div class="wrapper">
			<main class="content">
				<section class="intro">
					<h1 class="title">Hello.</h1>
					<p class="first">
						You’ve reached the personal website of Nguy Thang. You can call me as Steve Nguy. It’s nice to meet you.
					</p>
					<img class="avatar" alt="me" src="assets/background.jpeg">
					<p>
						I work at <a class="line" href="https://line.me/en/">LINE</a> as a Front-End Engineer.
						If you want to contact me, I prefer email. My address is
						<img class="mailIcon" alt="mail" src="assets/envelope.png">
						<a class="line" href="mailto:nguyvanthang96@gmail.com">
							nguyvanthang96@gmail.com
						</a>. Do I know you personally? If so, I heard the latest craze is to add each other on
						<img class="icon" alt="facebook" src="assets/facebook.png">
						<a class="line" href="https://www.facebook.com/nguythang312/">
							Facebook
						</a>
						. If it’s code you’re after, you’ll probably prefer
						<img class="icon" alt="github" src="assets/github.png">
						<a class="line" href="https://github.com/bboy114crew">
							GitHub
						</a>
						. You’re welcome to follow me on
						<img class="icon" alt="twitter" src="assets/twitter.png">
						<a class="line" href="https://twitter.com/nguythang1">
							Twitter
						</a>
						, although whether I have anything interesting to say is another matter. I’ve also posted miscellaneous texts on this website; you’ll find a list below.
					</p>
				</section>
				<h2>Sporadic Writings.</h2>
				<section aria-label="Blog post list">
					<dl>
						{posts.map(({ url, frontmatter }) => (
							<BlogPostPreview
								title={frontmatter.title}
								description={frontmatter.description}
								publishDate={frontmatter.publishDate}
								url={url}
							/>
						))}
					</dl>
				</section>
				<h2>Podcasts</h2>
				<section aria-label="Podcasts list">
					<dl>
						{podcasts.map(({ url, frontmatter }) => (
							<BlogPostPreview
								title={frontmatter.title}
								description={frontmatter.description}
								publishDate={frontmatter.publishDate}
								url={url}
							/>
						))}
					</dl>
				</section>
			</main>
		</div>
		<Footer />
	</body>
</html>

<style>
	.title {
		margin-top: 0;
		background: linear-gradient(45deg,var(--theme-accent) 11%,#3894ff 90%);
		background-clip: text;
		-webkit-background-clip: text;
		-moz-background-clip: text;
		-moz-text-fill-color: transparent;
		-webkit-text-fill-color: transparent;
		font-size: 100px;
	}

	.first {
		position: relative;
	}

	.avatar {
		display: block;
		width: 700px;
		margin: auto;
		margin-top: 2rem;
		margin-bottom: 2rem;
		border: 1px solid #555;
	}

	@media (max-width: 50em) {
		.avatar {
			width: 100%;
		}
	}

	.line {
		color: var(--theme-accent);
		background: linear-gradient(45deg,var(--theme-accent) 11%,#3894ff 90%);
		background-clip: text;
		-webkit-background-clip: text;
		-moz-background-clip: text;
		-moz-text-fill-color: transparent;
		-webkit-text-fill-color: transparent;
	}

	.mailIcon, .icon {
		display: inline-block;
    position: relative;
    top: -2px;
    vertical-align: middle;
    width: 16px;
    height: 16px;
	}

	.mailIcon {
		top: -1px;
	}

	.content {
		margin-bottom: 3rem;
	}

	h1 {
		font-size: 2.5rem;
		font-weight: 700;
	}
</style>
